PAR
PAR.build/Debug/PAR.build/Objects-normal/x86_64/PAR.LinkFileList
PAR.build/Debug/PAR.build/Objects-normal/x86_64/main.d
PAR.build/Debug/PAR.build/Objects-normal/x86_64/main.dia
PAR.build/Debug/PAR.build/Objects-normal/x86_64/main.o
PAR.build/Debug/PAR.build/PAR-all-target-headers.hmap
PAR.build/Debug/PAR.build/PAR-generated-files.hmap
PAR.build/Debug/PAR.build/PAR-own-target-headers.hmap
PAR.build/Debug/PAR.build/PAR-project-headers.hmap
PAR.build/Debug/PAR.build/PAR.dep
PAR.build/Debug/PAR.build/PAR.hmap
PAR.build/Debug/PAR.build/build-state.dat
PAR.xcodeproj/project.pbxproj
PAR.xcodeproj/project.xcworkspace/contents.xcworkspacedata
PAR.xcodeproj/project.xcworkspace/xcuserdata/dominik.xcuserdatad/UserInterfaceState.xcuserstate
PAR.xcodeproj/project.xcworkspace/xcuserdata/dominik.xcuserdatad/WorkspaceSettings.xcsettings
PAR.xcodeproj/xcuserdata/dominik.xcuserdatad/xcschemes/PAR.xcscheme
PAR.xcodeproj/xcuserdata/dominik.xcuserdatad/xcschemes/xcschememanagement.plist
